body {
  background-color: #f8f9fc;
}
.tab-content { min-height: 400px; }
h1 { font-size: 2rem; padding: 1rem 0; }
.tab-pane { padding: 30px 15px; }
#litmus-platform { padding: 0; }

.sample-partner-chrome {
  background-image: linear-gradient(-1deg, #2B95E6 2%, #1D84D2 100%);
  padding: 13px 20px;
}

.sample-partner-chrome h1 {
  color: #fff;
  float: left;
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 0;
  margin-right: 50px;
  padding: 0;
}

.sample-partner-chrome .logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.sample-partner-chrome h1,
.sample-partner-chrome .logo {
  margin-top: 12px;
}

.sample-partner-chrome .nav-tabs {
  border-bottom: none;
}

.sample-partner-chrome .nav-item a {
  color: #fff;
  margin-top: 3px;
}

.sample-partner-chrome .nav-item a:hover {
  opacity: 0.8;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent!important;
}

.sample-partner-chrome a.active {
  background-color: #1166A5!important;
  border-radius: 4px;
  border: none;
  color: #fff!important;
}

button {
  cursor: pointer;
}
